<div class="section--logo-carousel   {{ section.settings.section_class }}" style="padding-top: {{ section.settings.top_padding }}px; padding-bottom: {{ section.settings.bottom_padding }}px;">
<div class="splide" id="logo-carousel">
  <div class="splide__track">
    <ul class="splide__list">
      {% for block in section.blocks %}
      <li class="splide__slide ">
        <img src="{{ block.settings.image  | img_url: 'master'  }}" alt="Logo">
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Splide('#logo-carousel', {
      autoWidth: true,
      perMove: 1,
      type: 'loop',
      drag: "free",
      arrows: false,
      pagination: false,
      reduceMotion: {
        speed: 0,
        rewindSpeed: 0,
        autoplay: "pause"
      },
      autoScroll: {
        speed: .8
      },
      }).mount(window.splide.Extensions);
  });
</script>

<style>
#logo-carousel li img{
  max-height:40px;
  height:100%;
  width:100%;
  filter: saturate(0);
  object-fit:contain;
}
  #logo-carousel li {
  padding:0 30px;
    display:flex;
    align-items:center;
  
}
</style>
{% schema %}
{
  "name": "Logo Carousel",
  "settings": [
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 92
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 92
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container width",
      "min": 200,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "default": 980
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Carousel",
      "category": "Custom"
    }
  ]
}
{% endschema %}
